
$white: #fff;
$blue: #009fe3;
$orange: #fa9705;
$black: #1e2829;
$vertical-Line: #f1e7cf;
$default: #212529;
$border-line: #dedfe1;
$footer-black-1: #364950;
$footer-black-2: #1f292a;
$more-info-black: #667e7e;
$more-info-btn: #f49a0c;
