
$white: #fff;
$blue: #009fe3;
$orange: #fa9705;
$black: #1e2829;
$vertical-Line: #f1e7cf;
$default: #212529;
$border-line: #dedfe1;
$footer-black-1: #364950;
$footer-black-2: #1f292a;
$more-info-black: #667e7e;
$more-info-btn: #f49a0c;
$about-text: #8d8888;
$about-text-mobile: #9ca7a8;
$parent-category-info: #a0a0a0;
$search-vehicle-btn: #fde001;
$green: #069337;
$product-info-warning: #ec6607;
$product-info-success: #00963b;
$product-info-danger: #c80c10;

