@use "colours";

.overlay {
  height: 100%;
  float: left;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: colours.$blue;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  width: 100%;
  color: #FFF !important;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  .vertical-line{
    border-left: 1px solid colours.$white;
  }
  .mobile-login-icon{
    font-size: 60px !important;
  }
  .blue-icon{
    color: colours.$blue;
  }
  .check-out-button{
    background-color: colours.$orange;
    border: none;
    border-radius: 4px;
    color: colours.$white;
    margin-top: 7px;
    width: 100%;
    font-weight: 600;
    font-size: 17px;
    white-space: nowrap;
  }
  .menu-container{
    margin: 20px 0 20px 20px;
    border-top: 1px solid colours.$white;
    text-align: right;
    .menu-heading{
      padding: 5px 30px 5px 0;
      border-bottom: 1px solid;
      font-size: 18px;
      font-weight: bold;
    }
    .menu-sub-heading{
      padding: 15px 30px 5px 0;
    }
    .ul-style{
      list-style-type: none;
      margin-bottom: 0 !important;
      .li-style{
        font-size: 16px;
        font-weight: 500;
        padding: 3px 0;
      }
    }
    .accordion-item{
      padding-right: 30px;
    }
    .collapsed-button{
      padding: 3px 0;
      font-size: 16px;
      font-weight: 600;
      border: none;
      background: none;
      color: white;
    }
    .accordion-header{
      border-bottom: 1px solid colours.$white;
    }
  }
}

.overlay .closeBtn {
  position: absolute;
  top: 12px;
  right: 10px;
  height: 28px;
  border: none;
  background: none;
  color: white;
}

.main-header{
  background-color: colours.$white;
  top: -1px;
  z-index: 999;
  border-bottom: 2px solid colours.$blue;
  position: sticky;
  transition: all 2s ease;
  @media (max-width: 768px) {
    position: unset !important;
  }

    .header-container{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px 0;
      .search-login-container{
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          display: none;
        }
        .search-container{
          display: flex;
          border: 1px solid colours.$blue;
          border-radius: 4px;
          .search-icon-container{
            background-color: colours.$orange;
            height: 32px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            align-items: center;
            display: flex;
            width: 34px;
            justify-content: center;
          }

          .search-icon{
            color: colours.$white;
          }
        }
        .login-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 10px 0 10px ;
        }
        .vertical-line{
          border-left: 1px solid colours.$vertical-Line;
          height: 100%;
        }
        .cart-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 10px;
        }
      }

      .search-login-mobile-container{
        display: none;
        @media (max-width: 768px) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .search-button{
          background: none;
          border: none;
          color: colours.$blue;
          .search-icon{
            font-size: 30px !important;
          }
        }
        .vertical-line{
          border-left: 1px solid colours.$vertical-Line;
          height: 100%;
        }
      }
    }

}

.login-icon{
  color: colours.$blue;
  font-size: 34px !important;
}

.icon-margin{
  margin: 0 10px;
}

.login-text{
  color: colours.$blue;
  font-size: 12px;
  font-weight: 600;
}



.price-text{
  color: colours.$blue;
  font-size: 14px;
  font-weight: 700;
}

.black-main-container{
  background-color: colours.$black;
  color: colours.$white;
  width: 100%;
  @media (max-width: 1100px) {
    display: none;
  }
    .black-details-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .details-container{
        .text{
          margin-right: 5px;
          .arrow-icon{
            color: colours.$orange;
          }
        }
      }
      .right-container{
        display: flex;
        align-items: center;
        .logo-text{
          margin-left: 5px;
        }
        .contact-container{
          display: flex;
          align-items: center;
          margin-left: 24px;
          .contact-logo{
            color: colours.$blue;
          }
        }
      }
    }

}

.select2-rendered__match {
  color: colours.$blue;
  font-weight: bold;
}

.select2-container{
  border: none;
  font-weight: 500;
  min-width: 170px !important;
  width: 100% !important;
}

.select2-selection--multiple{
  border: none !important;
}

.select2-container--default .select2-selection--multiple{
  background-image: url("../images/search.png") !important;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding-right: 35px;
}

.search-dropdown{
  border: 1px solid colours.$blue !important;
  padding: 0 6px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  .select2-results__options::-webkit-scrollbar {
    display: none;
  }
  .select2-results__group{
    font-size: 14px;
    border-bottom: 1px solid colours.$border-line;
    padding: 3px !important;
    .select2-rendered__match {
      color: colours.$default !important;
    }
  }
  .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: colours.$white !important;
    color: colours.$default  !important;
    border: 1px solid colours.$blue;
  }

  .select2-selection--multiple .select2-selection__choice__remove{
    display: none;
  }

  .select2-results__option .select2-results__option{
    padding-left: 3px !important;
  }

  .select2-results__option{
    padding: 2px !important;
  }
}
.select2-selection--multiple .select2-selection__choice {
  background-color: colours.$white !important;
  border: none !important;
}

.select2-selection__choice__remove{
  display: none;
}

.side-menu-container{
  color: colours.$default!important;
}

#searchDropdown{
  display: none;
}

.search-dropdown-mobile-container{
  .search-container {
    display: flex;
    border: 1px solid colours.$blue;
    border-radius: 4px;
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  .logo-img{
    max-width: 140px;
  }
}

