@use "colours";

body {
    font-family: 'Readex Pro', sans-serif;
    font-size: 13px;
    margin: 0;
}

.slider-nav {
    display: flex;
    justify-content: space-between;

    .slider-nav-items {
        display: flex;
        height: max-content;

        p {
            margin: 0;
            padding: 15px;
        }
    }
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.bg-blue {
    background-color: #009fe3;
}

.pointer-shape {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: max-content;
    padding: 0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;

    .pointer-shape-text {
        text-decoration: none;
        color: #FFF;
        font-size: 13px;
        flex: 1;
        padding: 10px 0 10px 10px;
        text-align: center;
        flex: none;
        max-width: 160px;
    }

    .pointer-shape-arrow {
        position: relative;
        left: 7px;
        border: solid #FFF;
        display: inline-block;
        padding: 16px;
        border-width: 0 1px 1px 0;
        transform: translateY(15.5px) rotate(-45deg) skew(-15deg, -15deg) translateX(18px);
    }
}

.car-details {
    .pointer-shape-text {
        max-width: 70px;
    }
}

.select2-selection__placeholder{
    color: black !important;
}

.reg-field {
    display: flex;
    border: 1px solid #FFF;
    border-radius: 5px;

    div:first-child {
        border-radius: 5px 0 0 5px;
        background-color: #004994;

        span {
            color: #FFF;
        }
    }

    input {
        border: none;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 4px;
        background-color: #fae201;
    }

    input::-webkit-input-placeholder {
        color: black;
    }

    input:-moz-placeholder {
        color: black;
    }

    input:-ms-input-placeholder {
        color: black;
    }

    button {
        border: none;
        font-weight: 700;
        font-size: 20px;
        color: colours.$white;
        border-radius: 0 5px 5px 0;
        background-color: colours.$orange;
    }
}

input.car-details {
    max-width: 120px;
    height: 42px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

input.car-details::-webkit-input-placeholder {
    color: black;
}

input.car-details:-moz-placeholder {
    color: black;
}

input.car-details:-ms-input-placeholder {
    color: black;
}

.banner {
    border-top: 2px solid #FFF;
    text-align: center;
    min-height: 330px;
    background-image: url(../images/banner-bg.png);
}

.select2-container--default .select2-selection--single {
    height: 42px;
    color: black !important;
    padding-top: 6px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;

    .select2-selection__arrow {
        display: none;
    }
}

.side-menu-button::before {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background-image: url(../images/expand_more_orange.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transform: rotate(-90deg);
}

.side-menu-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.side-menu-button:not(.collapsed)::before {
    transform: rotate(0deg);
}

.side-menu-heading {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid colours.$border-line;
    padding-bottom: 3px;
}

.ul-side-menu {
    list-style-type: none;
    margin-bottom: 0 !important;

    .li-side-menu {
        font-size: 16px;
        font-weight: 500;
        padding: 3px 0;
    }
}


.footer-blue-container {
    background-color: colours.$blue;
    color: colours.$white;
    padding: 15px;
}

.footer {
    .footer-heading {
        font-size: 20px;
        font-weight: bold;
    }

    .footer-sub-heading {
        font-size: 14px;
        font-weight: 500;
    }

    .input-container {
        max-width: 700px;
        width: 100%;
        margin: 4px auto;

        .footer-input {
            border: none;
            height: 32px;
            max-width: 225px;
            width: 100%;
            text-align: center;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 500;
        }

        .footer-button {
            max-width: 225px;
            width: 100%;
            background-color: colours.$orange;
            border: 1px solid;
            color: colours.$white;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
        }
    }

    .footer-img {
        display: none;
    }

    .footer-light-black-container {
        background-color: colours.$footer-black-1;
        color: white;
        padding: 15px;
    }

    .footer-bottom-container {
        background-color: colours.$footer-black-2;
        color: white;
        padding: 25px;

        .heading {
            font-size: 15px;
            margin-bottom: 8px;
        }

        .information {
            margin-bottom: 25px;
        }

        .chat-container {
            padding-bottom: 28px;
            border-bottom: 1px solid;
        }

        .footer-container {
            border-bottom: 1px solid;
            padding-bottom: 25px;
        }

        .tec-logo {
            max-width: 100%;
        }

        .mail {
            text-decoration: none;
            color: colours.$white;
        }
    }

}

.more-info-cards {
    h3 {
        width: max-content;
        background-color: colours.$blue;
        color: colours.$white;
        font-weight: 700;
        line-height: 34px;
    }

    span {
        color: colours.$more-info-black;
    }

    img {
        object-fit: contain;
    }
}

.find-card {
    width: 180px;
    height: 230px;
    border-radius: 10px;
    padding: 0 12px;
    margin: 10px;
    flex: 1 1 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        font-weight: 700;
        color: colours.$white;
        text-align: center;
        margin-top: 10px;
        line-height: 28px;
    }

    .info-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

.info-btn {
    background-color: colours.$more-info-btn;
    border: 1px solid colours.$white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: colours.$white;
    font-weight: 700;
}

.feature-container {
    .feature-img {
        max-width: 125px;
        max-height: 139px;
    }

    .feature-name {
        font-weight: bold;
        font-size: 14px;
        text-align: center;
    }

    .feature {
        flex-basis: 100%;
    }
}

.body-heading {
    .hr-line {
        border-bottom: 1px solid colours.$border-line;
        width: 40%;
    }

    .heading {
        font-size: 28px;
        font-weight: bold;
        white-space: nowrap;
        margin: 0 5px;
    }
}

.service-parts {
    .parts {
        flex: 1 1 10%;

        p {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

        img {
            width: 100%;
            object-fit: contain;
            height: 200px;
        }
    }
}

.news {
    flex: 1;

    span {
        font-size: 20px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    p {
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    img {
        height: 150px;
        width: 50%;
        object-fit: contain;
    }
}
.about-and-follow{
    .hr-line{
        border-bottom: 1px solid colours.$border-line;
        width: 44%;
    }
    .feature-heading{
        font-size: 28px;
        font-weight: bold;
        white-space: nowrap;
        margin: 0 5px;
    }
    .about-text{
        color: #c5c1c1;
        font-size: 14px;
    }
}


@media screen and (max-width: 1200px) {

    .find-card {
        flex: 1 1 40%;
    }

    .about-and-follow{
        flex-direction: column !important;
    }
    .follow-us-container{
        margin-top: 10px;
    }
}

.feature-brand, .feature-brand-mobile{
    padding: 10px;
    .hr-line{
        border-bottom: 1px solid colours.$border-line;
        width: 43%;
    }
    .feature-heading{
        font-size: 28px;
        font-weight: bold;
        white-space: nowrap;
        margin: 0 5px;
    }
    .hexagon {
        width: 100px;
        height: 55px;
        position: relative;
        margin-bottom: 80px;
    }

    .hexagon,
    .hexagon:before,
    .hexagon:after {
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.8);
    }

    .hexagon:before,
    .hexagon:after {
        content: "";
        position: absolute;
        left: 21px;
        width: 57px;
        height: 57px;
        transform: rotate(145deg) skew(22.5deg);
    }

    .hexagon:before {
        top: -29px;
    }

    .hexagon:after {
        top: 27px;
    }

    .hexagon span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 55px;
        background: white;
        z-index: 1;
    }
    .hexagon-img{
        max-width: 70px;
        text-align: center;
    }
    .hexagon-container{
        margin: 60px 0 0;
    }
}

@media screen and (max-width: 992px) {
    .news {
        flex: 100%;
    }
}

@media screen and (max-width: 768px) {
    .pointer-shape {
        border: none;

        .pointer-shape-arrow {
            display: none;
        }

        .pointer-shape-text {
            font-size: 20px;
            max-width: 100% !important;
        }
    }

    .select,
    .select2,
    .footer-small-img,
    .secure-payment-container,
    .about-container,
    .feature-last,
    #sideMenu {
        display: none !important;
    }

    .links-container,
    .question-container {
        width: 100% !important;
    }

    .footer-container {
        flex-direction: column !important;

        .links-container {
            margin-bottom: 45px !important;
        }
    }

    .footer-bottom-container {
        .tec-logo {
            max-width: 70% !important;
            text-align: center !important;
        }

        .heading {
            margin-bottom: 25px !important;
        }
    }

    .footer-img {
        display: block !important;
    }

    .input-container {
        flex-direction: column !important;

        .footer-input {
            max-width: 100% !important;
            margin-bottom: 8px !important;
        }

        .footer-button {
            max-width: 100% !important;
        }
    }

    .footer-sub-heading {
        width: 50%;
    }

    #mainContainer {
        width: 100% !important;

        .feature-img {
            max-width: 95px !important;
        }
    }

    .service-parts {
        .parts {
            flex: 1 1 50%;
        }
    }
}
@media screen and (max-width: 576px) {
    .last-column{
        display: none;
    }
    .about-text{
        color: colours.$about-text-mobile !important;
    }
    .feature-brand{
        display: none;
    }
    .feature-brand-mobile{
        display: block !important;
        background-color: #009fe3;
        .hr-line{
            display: none;
        }
        .feature-heading{
            color: colours.$white;
            font-size: 24px !important;
            margin: 5px !important;
        }
        .hexagon:before,
        .hexagon:after {
            border: 3px solid #6fc1e1;
        }
        .hexagon span {
            border-left: 4px solid #6fc1e1;
            border-right: 4px solid #6fc1e1;;
        }
    }
}
