@use "colours";

body {
    font-family: 'Readex Pro', sans-serif;
    font-size: 13px;
    margin: 0;
}

.slider-nav {
    display: flex;
    justify-content: space-between;

    .slider-nav-items {
        display: flex;
        height: max-content;

        p {
            margin: 0;
            padding: 15px;
        }
    }
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.bg-blue {
    background-color: #009fe3;
}

.pointer-shape {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: max-content;
    padding: 0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;

    .pointer-shape-text {
        text-decoration: none;
        color: #FFF;
        font-size: 13px;
        flex: 1;
        padding: 10px 0 10px 10px;
        text-align: center;
        flex: none;
        max-width: 160px;
    }

    .pointer-shape-arrow {
        position: relative;
        left: 7px;
        border: solid #FFF;
        display: inline-block;
        padding: 16px;
        border-width: 0 1px 1px 0;
        transform: translateY(15.5px) rotate(-45deg) skew(-15deg, -15deg) translateX(18px);
    }
}

.car-details {
    .pointer-shape-text {
        max-width: 70px;
    }
}

.reg-field {
    display: flex;
    border: 1px solid #FFF;
    border-radius: 5px;

    div:first-child {
        border-radius: 5px 0 0 5px;
        background-color: #004994;

        span {
            color: #FFF;
        }
    }

    input {
        border: none;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 4px;
        background-color: #fae201;
    }

    input::-webkit-input-placeholder {
        color: black;
    }

    input:-moz-placeholder {
        color: black;
    }

    input:-ms-input-placeholder {
        color: black;
    }

    button {
        border: none;
        font-weight: 700;
        font-size: 20px;
        color: colours.$white;
        border-radius: 0 5px 5px 0;
        background-color: colours.$orange;
    }
}

input.car-details {
    max-width: 120px;
    height: 42px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

input.car-details::-webkit-input-placeholder {
    color: black;
}

input.car-details:-moz-placeholder {
    color: black;
}

input.car-details:-ms-input-placeholder {
    color: black;
}

.banner {
    border-top: 2px solid #FFF;
    text-align: center;
    min-height: 330px;
    background-image: url(../images/banner-bg.png);
}

.select2-container--default .select2-selection--single {
    height: 42px;
    color: black !important;
    padding-top: 6px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;

    .select2-selection__arrow {
        display: none;
    }
}

.side-menu-button::before {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background-image: url(../images/expand_more_orange.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transform: rotate(-90deg);
}

.side-menu-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.side-menu-button:not(.collapsed)::before {
    transform: rotate(0deg);
}

.side-menu-heading {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid colours.$border-line;
    padding-bottom: 3px;
}

.ul-side-menu {
    list-style-type: none;
    margin-bottom: 0 !important;

    .li-side-menu {
        font-size: 16px;
        font-weight: 500;
        padding: 3px 0;
    }
}


#sideMenu{
    @media (max-width: 600px) {
        display: none;
    }
}

.footer-blue-container{
    background-color: colours.$blue;
    color: colours.$white;
    padding: 15px;
}

.footer {
    .footer-heading {
        font-size: 20px;
        font-weight: bold;
    }
    .footer-sub-heading{
        font-size: 14px;
        font-weight: 500;
        @media (max-width: 600px) {
            width: 50%;
        }
    }
    .input-container{
        max-width: 700px;
        width: 100%;
        margin: 4px auto;
        @media (max-width: 600px) {
            flex-direction: column !important;
        }
        .footer-input{
            border: none;
            height: 32px;
            max-width: 225px;
            width: 100%;
            text-align: center;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 500;
            @media (max-width: 600px) {
                max-width: 100% !important;
                margin-bottom: 8px;
            }
        }
        .footer-button{
            max-width: 225px;
            width: 100%;
            background-color: colours.$orange;
            border: 1px solid;
            color: colours.$white;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            @media (max-width: 600px) {
                max-width: 100%;
            }
        }
    }
    .footer-img{
        display: none;
        @media (max-width: 600px) {
            display: block;
        }
    }
    .footer-light-black-container{
        background-color: colours.$footer-black-1;
        color: white;
        padding: 15px;
        @media (max-width: 600px) {
            background-color: colours.$footer-black-mobile-1;
        }
    }
}


@media screen and (max-width: 768px) {
    .pointer-shape {
        border: none;

        .pointer-shape-arrow {
            display: none;
        }

        .pointer-shape-text {
            font-size: 20px;
            max-width: 100% !important;
        }
    }

    .select,
    .select2 {
        display: none;
    }

    .footer-small-img{
        display: none;
    }

}
