body {
  font-family: "Readex Pro", sans-serif;
  font-size: 13px;
  margin: 0;
}

.slider-nav {
  display: flex;
  justify-content: space-between;
}
.slider-nav .slider-nav-items {
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.slider-nav .slider-nav-items p {
  margin: 0;
  padding: 15px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.bg-blue {
  background-color: #009fe3;
}

.pointer-shape {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF;
}
.pointer-shape .pointer-shape-text {
  text-decoration: none;
  color: #FFF;
  font-size: 13px;
  flex: 1;
  padding: 10px 0 10px 10px;
  text-align: center;
  flex: none;
  max-width: 160px;
}
.pointer-shape .pointer-shape-arrow {
  position: relative;
  left: 7px;
  border: solid #FFF;
  display: inline-block;
  padding: 16px;
  border-width: 0 1px 1px 0;
  transform: translateY(15.5px) rotate(-45deg) skew(-15deg, -15deg) translateX(18px);
}

.car-details .pointer-shape-text {
  max-width: 70px;
}

.reg-field {
  display: flex;
  border: 1px solid #FFF;
  border-radius: 5px;
}
.reg-field div:first-child {
  border-radius: 5px 0 0 5px;
  background-color: #004994;
}
.reg-field div:first-child span {
  color: #FFF;
}
.reg-field input {
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 4px;
  background-color: #fae201;
}
.reg-field input::-webkit-input-placeholder {
  color: black;
}
.reg-field input:-moz-placeholder {
  color: black;
}
.reg-field input:-ms-input-placeholder {
  color: black;
}
.reg-field button {
  border: none;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border-radius: 0 5px 5px 0;
  background-color: #fa9705;
}

input.car-details {
  max-width: 120px;
  height: 42px;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

input.car-details::-webkit-input-placeholder {
  color: black;
}

input.car-details:-moz-placeholder {
  color: black;
}

input.car-details:-ms-input-placeholder {
  color: black;
}

.banner {
  border-top: 2px solid #FFF;
  text-align: center;
  min-height: 330px;
  background-image: url(../images/banner-bg.png);
}

.select2-container--default .select2-selection--single {
  height: 42px;
  color: black !important;
  padding-top: 6px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.side-menu-button::before {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  background-image: url(../images/expand_more_orange.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transform: rotate(-90deg);
}

.side-menu-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.side-menu-button:not(.collapsed)::before {
  transform: rotate(0deg);
}

.side-menu-heading {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #dedfe1;
  padding-bottom: 3px;
}

.ul-side-menu {
  list-style-type: none;
  margin-bottom: 0 !important;
}
.ul-side-menu .li-side-menu {
  font-size: 16px;
  font-weight: 500;
  padding: 3px 0;
}

@media (max-width: 768px) {
  #sideMenu {
    display: none;
  }
}

.footer-blue-container {
  background-color: #009fe3;
  color: #fff;
  padding: 15px;
}

.footer .footer-heading {
  font-size: 20px;
  font-weight: bold;
}
.footer .footer-sub-heading {
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .footer .footer-sub-heading {
    width: 50%;
  }
}
.footer .input-container {
  max-width: 700px;
  width: 100%;
  margin: 4px auto;
}
@media (max-width: 768px) {
  .footer .input-container {
    flex-direction: column !important;
  }
}
.footer .input-container .footer-input {
  border: none;
  height: 32px;
  max-width: 225px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .footer .input-container .footer-input {
    max-width: 100% !important;
    margin-bottom: 8px;
  }
}
.footer .input-container .footer-button {
  max-width: 225px;
  width: 100%;
  background-color: #fa9705;
  border: 1px solid;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .footer .input-container .footer-button {
    max-width: 100%;
  }
}
.footer .footer-img {
  display: none;
}
@media (max-width: 768px) {
  .footer .footer-img {
    display: block;
  }
}
.footer .footer-light-black-container {
  background-color: #364950;
  color: white;
  padding: 15px;
}
.footer .footer-bottom-container {
  background-color: #1f292a;
  color: white;
  padding: 25px;
}
@media (max-width: 600px) {
  .footer .footer-bottom-container .tec-logo {
    max-width: 70%;
    text-align: center;
  }
}
.footer .footer-bottom-container .heading {
  font-size: 15px;
  margin-bottom: 8px;
}
@media (max-width: 600px) {
  .footer .footer-bottom-container .heading {
    margin-bottom: 25px !important;
  }
}
.footer .footer-bottom-container .information {
  margin-bottom: 25px;
}
.footer .footer-bottom-container .chat-container {
  padding-bottom: 28px;
  border-bottom: 1px solid;
}
.footer .footer-bottom-container .footer-container {
  border-bottom: 1px solid;
  padding-bottom: 25px;
}
@media (max-width: 600px) {
  .footer .footer-bottom-container .footer-container {
    flex-direction: column !important;
  }
  .footer .footer-bottom-container .footer-container .links-container {
    margin-bottom: 45px;
  }
}
.footer .footer-bottom-container .tec-logo {
  max-width: 100%;
}
.footer .footer-bottom-container .mail {
  text-decoration: none;
  color: #fff;
}

.more-info-cards h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #009fe3;
  color: #fff;
  font-weight: 700;
  line-height: 34px;
}
.more-info-cards span {
  color: #667e7e;
}
.more-info-cards img {
  -o-object-fit: contain;
     object-fit: contain;
}

.find-card {
  width: 180px;
  height: 230px;
  border-radius: 10px;
  padding: 0 12px;
  margin: 10px;
  flex: 1 1 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.find-card h3 {
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  line-height: 28px;
}
.find-card .info-btn {
  width: 100%;
  margin-bottom: 10px;
}

.info-btn {
  background-color: #f49a0c;
  border: 1px solid #fff;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .find-card {
    flex: 1 1 40%;
  }
}
@media screen and (max-width: 768px) {
  .pointer-shape {
    border: none;
  }
  .pointer-shape .pointer-shape-arrow {
    display: none;
  }
  .pointer-shape .pointer-shape-text {
    font-size: 20px;
    max-width: 100% !important;
  }
  .select,
.select2,
.footer-small-img,
.secure-payment-container,
.about-container {
    display: none !important;
  }
  .links-container,
.question-container {
    width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */