.slider-nav {
    display: flex;
    justify-content: space-between;

    .slider-nav-items {
        display: flex;    
        height: max-content;

        p {
            margin: 0;
            padding: 15px;
        }
    }
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}